/**
 * @file
 * Comment Styling
 */


#comments /* Wrapper for the list of comments and its title */ {
  margin: 1em 0 0 0;
  background: transparent url('../images/divide.png') top center no-repeat;
  padding-top: 15px;
}

#comments h2.title /* Heading for the list of comments */ {
  color: #447b97;
  border-bottom: 1px solid #bababa;
  margin: 5px 0;
  padding: 5px 0;
}

.comment /* Wrapper for a single comment */ {
  border-bottom: 1px solid #bababa;
}

.comment-preview /* Preview of the comment before submitting new or updated comment */ {
}

.comment.new /* A new comment since the user last viewed the page. */ {
  position: relative;
  top: -5px;
  right: -5px;
}

.comment.first /* The first comment in the list of comments */ {
}

.comment.last /* The last comment in the list of comments */ {
  border: 0;
}

.comment.odd /* An odd-numbered comment in the list of comments */ {
}

.comment.even /* An even-numbered comment in the list of comments */ {
}

.comment-unpublished /* Unpublished comments */ {
  /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
}

.comment-unpublished div.unpublished /* The word "Unpublished" displayed underneath the content. See also the div.unpublished declaration in the nodes.css. */ {
}

.comment-by-anonymous /* A comment created by an anonymous user */ {
}

.comment-by-node-author /* A comment created by the node's author */ {
}

.comment-by-viewer /* A comment created by the current user */ {
}

.comment h3.title /* Comment title */ {
}

.new /* "New" marker for comments that are new for the current user */ {
  color: #c00;
}

.comment .picture /* The picture of the comment author */ {
  float: left;
  width: 85px;
  height: 85px;
  overflow: hidden;
  margin: 10px 0;
}

.comment .submitted /* The "posted by" information */ {
  margin: 10px 15px 10px 100px;
  padding: 25px 0;
  border-bottom: 1px solid #BABABA;
}
.comment .submitted a {
  color: #333333;
}

.comment .content /* Comment's content wrapper */ {
  clear: left;
  padding-top: 10px;
}

.comment .user-signature /* The user's signature */ {
}

.comment ul.links /* Comment links. See also the ul.links declaration in the pages.css. */ {
  display: block;
  text-align: right;
}
.comment ul.links li a {
  font-size: 11px;
  font-weight: bold;
  font-family: Helvetica, Arial, "Nimbus Sans L", sans-serif;
  text-transform: uppercase;
}

.indented /* Nested comments are indented */ {
  background: transparent url('../images/reply.png') 0 30px no-repeat;
  margin-left: 0;
  padding-left: 50px;
}

.preview .comment /* Preview of the comment before submitting new or updated comment */ {
  /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
}

#comments .box {
  background: transparent url('../images/bg-comment-form.png') top center no-repeat;
  margin: 40px -25px 0 -25px;
  padding-top: 63px;
}
#comments .box .box-inner {
  border: 1px solid #bababa;
  border-top: 0;
  border-bottom: 0;
  padding: 10px 50px 30px 50px;
}

#comments .box h2 {
  color: #447b97;
  border-bottom: 1px solid #bababa;
  padding: 15px 0;
  margin: 10px 0;
}