/**
 * @file
 * HTML Element Styling
 *
 * Ok, I admit it. I fooled you. This isn't a "reset" stylesheet. Instead this
 * is the place where you should set (not reset) the default styling for all
 * HTML elements.
 *
 * @see http://meiert.com/en/blog/20080419/reset-style-sheets-are-bad/
 * @see http://snook.ca/archives/html_and_css/no_css_reset/
 */


/*
 * Fonts
 *
 * Our font size and line height declarations are based on the following ALA
 * article:
 *   http://www.alistapart.com/articles/howtosizetextincss
 *
 * All modern browsrs use a 16px default font size. Specifying the font-size
 * and line-height in ems (relative to the 16px default font) allows the user
 * to resize the font in the browser and produces the most consistent results
 * across different browsers.
 */
body {
  font-size: 100%; /* Fixes exaggerated text resizing in IE6 and IE7 */
}

#skip-link,
#page {
  /*
   * To use a 12px font size on the page, delete the 14px declarations.
   * to use a 14px font size on the page, delete the 12px declarations.
   */

  /* Use a 14px base font size with a 18px line height */
  font-size: 0.875em; /* 16px x .875 = 14px */
  line-height: 1.286em; /* 14px x 1.286 = 18px */
  
  /* Use a 16px base font size with a 26px line height */
  font-size: 1em; /* 16px x 1 = 16px */
  line-height: 1.625em; /* 16px x 1.625 = 26px */
}

body,
caption,
th,
td,
input,
textarea,
select,
option,
legend,
fieldset {
  /* The following font family declarations are based on the Microsoft core web
   * fonts which are common fonts available on most computer systems. The DejaVu
   * fonts are commonly available on Linux systems where the MS fonts are less
   * common. Tahoma and Helvetica are also widely available.
   *
   * A user's web browser will look at the comma-separated list and will
   * attempt to use each font in turn until it finds one that is available
   * on the user's computer. The final "generic" font (sans-serif or serif)
   * hints at what type of font to use if the web browser doesn't find any
   * of the fonts in the list.

  font-family: "Times New Roman", Times, Georgia, "DejaVu Serif", serif;
  font-family: Times, "Times New Roman", Georgia, "DejaVu Serif", serif;
  font-family: Georgia, "Times New Roman", "DejaVu Serif", serif;

  font-family: Verdana, Tahoma, "DejaVu Sans", sans-serif;
  font-family: Tahoma, Verdana, "DejaVu Sans", sans-serif;
  font-family: Helvetica, Arial, "Nimbus Sans L", sans-serif;
  font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;

  font-family: "Courier New", "DejaVu Sans Mono", monospace;

   */

  font-family: Georgia, serif;
}

pre,
code {
  font-size: 1.1em; /* Monospace fonts can be hard to read */
  font-family: "Courier New", "DejaVu Sans Mono", monospace;
}

/*
 * Headings
 */
h1 {
  font-size: 1.8em;
  line-height: 1.3em;
  margin-top: 0;
  margin-bottom: 0.5em; /* 0.5em is equavalent to 1em in the page's base font.
                           Remember, a margin specified in ems is relative to
                           the element's font-size, not to the pages' base
                           font size. So, for example, if we want a 1em margin
                           (relative to the base font), we have to divide that
                           length by the element's font-size:
                           1em / 2em = 0.5em */
}

h2 {
  font-size: 1.5em;
  line-height: 1.3em;
  margin-top: 0.667em; /* Equivalent to 1em in the page's base font: 1 / 1.5 = 0.667em */
  margin-bottom: 0.667em;
}

h3 {
  font-size: 1.3em;
  line-height: 1.3em;
  margin-top: 0.769em; /* Equivalent to 1em in the page's base font: 1 / 1.3 = 0.769 */
  margin-bottom: 0.769em;
}

h4,
h5,
h6 {
  font-size: 1.1em;
  line-height: 1.3em;
  margin-top: 0.909em; /* Equivalent to 1em in the page's base font: 1 / 1.1 = 0.909 */
  margin-bottom: 0.909em;
}

/*
 * Block-level elements
 */
p,
ul,
ol,
dl,
pre,
table,
fieldset {
  margin: 1em 0;
}

blockquote {
  margin: 1em 2em;
}

/*
 * Lists
 *
 * We need to standardize the list item indentation.
 */
ul,
ol {
  margin-left: 0;
  padding-left: 2em; /* LTR */
}

.block ul,
.item-list ul /* Drupal overrides */ {
  margin: 1em 0;
  padding: 0 0 0 2em; /* LTR */
}

ul ul, ul ol,
ol ol, ol ul,
.block ul ul, .block ul ol,
.block ol ol, .block ol ul,
.item-list ul ul, .item-list ul ol,
.item-list ol ol, .item-list ol ul {
  margin: 0;
}

li {
  margin: 0;
  padding: 0;
}

.item-list ul li /* Drupal override */ {
  margin: 0;
  padding: 0;
  list-style: inherit;
}

ul.menu li,
li.expanded,
li.collapsed,
li.leaf /* Drupal override */ {
  margin: 0;
  padding: 0;
}

ul          { list-style-type: disc; }
ul ul       { list-style-type: circle; }
ul ul ul    { list-style-type: square; }
ul ul ul ul { list-style-type: circle; }
ol          { list-style-type: decimal; }
ol ol       { list-style-type: lower-alpha; }
ol ol ol    { list-style-type: decimal; }

dt {
  margin: 0;
  padding: 0;
}

dd {
  margin: 0 0 0 2em;
  padding: 0;
}

/*
 * Links
 *
 * The order of link states are based on Eric Meyer's article:
 * http://meyerweb.com/eric/thoughts/2007/06/11/who-ordered-the-link-states
 */
a:link {
  color: #447b97;
  text-decoration: none;
}

a:visited {
  color: #447b97;
}

a:hover,
a:focus {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

/*
 * Tables
 *
 * Drupal provides table styling which is only useful for its admin section
 * forms, so we override this default CSS. (We set it back in forms.css.)
 */
table {
  border-collapse: collapse;
  /* width: 100%; */ /* Prevent cramped-looking tables */
}

th,
thead th,
tbody th {
  text-align: left; /* LTR */
  padding: 0;
  border-bottom: none;
}

tbody {
  border-top: none;
}

/*
 * Abbreviations
 */
abbr {
  border-bottom: 1px dotted #666;
  cursor: help;
  white-space: nowrap;
}

abbr.created /* Date-based "abbreviations" show computer-friendly timestamps which are not human-friendly. */ {
  border: none;
  cursor: auto;
  white-space: normal;
}

/*
 * Images
 */
img {
  border: 0;
}

/*
 * Horizontal rules
 */
hr {
  height: 1px;
  border: 1px solid #666;
}

/*
 * Forms
 */
form {
  margin: 0;
  padding: 0;
}

fieldset {
  margin: 1em 0;
  padding: 0.5em;
  border: 1px solid #bababa;
}



/**
 * Typography
 * 
 * We have three basic typefaces used on the site:
 * Nimbus Sans Extended (font-family: nimbus-sans-extended)
 * Nimbus Sans Condensed (font-family: nimbus-sans-condensed)
 * Superclarendon (font-family: superclarendon)
 * Georgia (font-family: georgia)
 * 
 **/

/* to control the flash of unstyled text (FOUT) that comes with typekit */
.wf-loading { 
  visibility: hidden;
}

body {
  font-family: Georgia, serif;
  color: #333;
}

.region-navigation {
  font-family: superclarendon;
  font-weight: normal;
  text-transform: uppercase;
}

.region-navigation a:link {
  text-decoration: none;
}

h1.title, .title a:link, h3, #account-links a  {
  font-family: nimbus-sans-extended;
  font-weight: normal;
  letter-spacing: .1em;
  text-decoration: none;
  text-transform: uppercase;
}

h2 {
  font-family: nimbus-sans-condensed;
  font-size: 15px;
  text-transform: uppercase;
}

h3 {
 font-family: nimbus-sans-condensed;
 text-transform: uppercase;
 color: #447b97;
}

/* let's hide the stupid site title */
#site-name {
  display: none;
}

.sidebar {
  font-family: nimbus-sans-extended;
}

.sidebar h2 {
  font-family: nimbus-sans-condensed;
  font-size: 2em;
}

.sidebar .badcamp-attendee-count {
  font-family: superclarendon;
}

/**
 * Main Menu


#block-menu-primary-links ul li ul li {
  display:block;
}

#block-menu-primary-links a:link, #block-menu-primary-links a:visited {
  color: #fff;
}

#block-menu-primary-links li.active-trail > a:link {
  color: #000;
}

#block-menu-primary-links ul li ul {
  font-family: Georgia, serif;
  width: 150px;
  list-style: none;
  position: absolute;
  margin-top: 0px;
  min-width: 200px;
  background-color: #461d05;
}


#block-menu-primary-links .menu .menu .leaf {
  text-transform: none;
}

#block-menu-primary-links ul > li {
  list-style-type: none;
  list-style-image: none;
  /* float:left; 
}

#block-menu-primary-links ul li ul {
  visibility:hidden;
  -webkit-transition:visibility 0s linear 0.3s,opacity 0.1s linear;
  -moz-transition:visibility 0s linear 0.3s,opacity 0.1s linear;
  -o-transition:visibility 0s linear 0.3s,opacity 0.1s linear;
}

#block-menu-primary-links ul li:hover ul{
  visibility:visible;
  -webkit-transition-delay:0s;
  -moz-transition-delay:0s;
  -o-transition-delay:0s;
} 

#block-menu-primary-links ul li ul li {
  border-top: 1px solid #ddd;
}

#block-menu-primary-links ul li ul li.first {
  border: none;
} 

#block-menu-primary-links ul a {
  display: block;
  text-align: center;
}

#block-menu-primary-links ul ul a {
  padding: 10px;
  display: block;
}
*/

/* added anchor span - Jen */
span.anchor {
  background: transparent url('../images/anchor-bullet.png') center 4px no-repeat;
  height: 14px;
  padding: 0 3px;
}
span.anchor-left {
  margin-right: 30px;
}
span.anchor-right {
  margin-left: 25px;
}

/* hide $0.00 - Jen */
.node .product-info {
  display: none;
}
/* show for indiv sponsorships */
.node-type-product .product-info {
  display: block;
}


/**
 * CSS pirate ship movements!
 *
 * TODO: add additional prefixes for other, less useful browsers.
 **/
@-webkit-keyframes ship {
  0% {
    -webkit-transform: rotate(-7deg) translate3d(0px, 0px, 0px);           
  }
  
  40% {
    -webkit-transform: rotate(-2deg) translate3d(15px, -4px, 0px);      
  }        

  100% {          
    -webkit-transform: rotate(-7deg) translate3d(0px, 0px, 0px);      
  }  
}

@-moz-keyframes ship {
  0% {
    -moz-transform: rotate(-7deg) translate3d(0px, 0px, 0px);           
  }
  
  40% {
    -moz-transform: rotate(-2deg) translate3d(15px, -4px, 0px);      
  }        

  100% {          
    -moz-transform: rotate(-7deg) translate3d(0px, 0px, 0px);      
  }  
}
  

#pirateship {
  position:absolute;
  top: 29px;
  right: 60px;
  bottom: 27px;
  display:inline-block;
  width:200px;
  height:210px;
  background: transparent url('../images/pirate-ship.png') bottom center no-repeat;
  -webkit-animation:ship 8000ms infinite both ease-in-out;
  -moz-animation:ship 8000ms infinite both ease-in-out;

  /* -webkit-animation-duration:10s;
  -webkit-animation-delay:1s; */
}

/* all views - Jen */
.view-filters {
  padding-bottom: 20px;
}

/* grid views - Jen */
.views-view-grid .views-row {
  clear: left;
}
.views-view-grid.col-1 .views-row .views-cell {
  width: 100%;
  float: none;
}
.views-view-grid.col-2 .views-row .views-cell {
  width: 50%;
  float: left;
}
.views-view-grid.col-3 .views-row .views-cell {
  width: 33%;
  float: left;
}
.views-view-grid.col-4 .views-row .views-cell {
  width: 25%;
  float: left;
}
.views-view-grid.col-5 .views-row .views-cell {
  width: 20%;
  float: left;
}

/**
 * Profile pages.
 */
h2.pane-title {
  color: #447b97;
  border-bottom: 1px solid #bababa;
}
#badcamp-registration-events .form-item,
#badcamp-signup-form .form-item {
  width: 25%;
  float: left;
  margin: 0;
}
#badcamp-registration-events .form-item .form-radios .form-item,
#badcamp-signup-form .form-item .form-radios .form-item {
  width: auto;
  float: none;
  margin-bottom: 5px;
}
#badcamp-registration-events .form-item .form-radios .form-item label,
#badcamp-signup-form .form-item .form-radios .form-item label {
  display: block;
  font-size: 11px;
}
#badcamp-registration-events .form-item .form-radios .form-item input.form-radio,
#badcamp-signup-form .form-item .form-radios .form-item input.form-radio {
  float: left;
}
#badcamp-registration-events .form-item .form-radios .form-item a,
#badcamp-signup-form .form-item .form-radios .form-item a {
  display: block;
  margin-left: 20px;
  line-height: 17px;
}
#badcamp-signup-form #edit-profile-volunteer-wrapper {
  clear: both;
  width: 50%;
  float: left;
}
#badcamp-signup-form #edit-profile-want-job-wrapper {
  width: 50%;
  float: left;
}
#user-register .submit-box,
#badcamp-signup-form .submit-box {
  clear: both;
  padding-top: 10px;
}
.full-block {
  clear: both;
  text-align: center;
}
.full {
  color: #FF0000;
  font-size: 12px;
}

/**
 * User registration
 */
#user-register .camp-message {
  margin: 10px 0 20px 0;
  padding: 10px 0;
  font-size: 14px;
  font-weight: bold;
}
#user-register .camp-message a {
  text-transform: uppercase;
}
#user-register fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  width: 50%;
  float: left;
}
#user-register #badcamp-registration-events {
  float: none;
  width: 100%;
}
#user-register fieldset input.form-text {
  width: 280px;
}
#user-register .submit-box {
  text-align: right;
  padding-right: 30px;
}
#user-register .submit-box input {
  font-size: 14px;
  padding: 5px 20px;
}
#user-register div.small {
  margin: 20px 0 50px 0;
  font-size: 12px;
}

/**
 * Log in & Password forms.
 */
#user-login,
#user-pass {
  width: 50%;
  margin: 0 auto;
  padding-top: 40px;
}

/* 
 * summit content styles 
 */
.node-type-event .product-body h2 {
  font-family: nimbus-sans-condensed;
  color: #4b4b4b;
  font-size: 25.5px;
  line-height: 35.5px;
}
.node-type-event .product-body h3 {
  text-transform: uppercase;
  font-family: nimbus-sans-extended;
  color: #447b97;
  font-size: 15.5px;
  padding-top: 30px;
  background: transparent url('../images/divide.png') top center no-repeat;
}
table.summit-schedule {
  width: 100%;
}
table.summit-schedule tbody tr {
  border-top: 1px solid #bababa;
}
table.summit-schedule td {
  padding: 15px 15px 15px 0;
}
table.summit-schedule div.event-title {
  font-family: nimbus-sans-extended;
  text-transform: uppercase;
}


/* profile pages */
.pane-profile-fields {
  padding-top: 30px;
}
.profile-profile-profile_first {
  float: left;
  margin-right: 10px;
}

.view-badges .views-field-nothing {
  padding: 25px;
}
.view-badges .views-field-nothing span.field-content {
  display: block;
  background: transparent url('../images/individualsponsor2012.png') top left no-repeat;
  width: 114px;
  height: 114px;
  text-indent: -9999px;
}
.view-display-id-panel_pane_1 .views-field-nothing span.field-content {
  /* make it use the old badge for 2011 */
  background: transparent url('../images/individualsponsor.png') top left no-repeat;
}


/* sessions page */
.view-sessions table thead th {
  text-transform: uppercase;
  font-family: nimbus-sans-extended;
  font-size: 15.5px;
}
.view-sessions table tbody tr {
  border-top: 1px solid #BABABA;
}
.view-sessions table tbody tr td {
  padding: 10px 5px;
}
.view-sessions table tbody tr td.views-field-title > a:first-of-type {
  font-family: nimbus-sans-extended;
  text-transform: uppercase;
}

/* exposed filters */
.views-exposed-widgets  {
  clear: both;
}
.views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 2.2em;
}
.views-exposed-form .views-submit-button {
  padding: .5em 0 0 0;
}

/* badcamp submit a sessionlink */
#block-badcamp-add_session,
#block-badcamp-add_session_two {
  background: url("../images/divide.png") no-repeat scroll center top transparent;
  margin-top: 30px;
  padding-top: 15px;
  text-align: center;
}
#block-badcamp-add_session .content,
#block-badcamp-add_session_two .content {
  background: url("../images/divide.png") no-repeat scroll center bottom transparent;
  margin-bottom: 20px;
  padding-bottom: 15px;
}