/**
 * @file
 *
 * This layout is for phones.
 */


/*
 * Body
 */
body {
  background-color: #f0ebe8; 
}

#page-wrapper,
.region-page-closure {
}

#page {
  /*
   * If you want to make the page a fixed width and centered in the viewport,
   * this is the standards-compliant way to do that. See also the ie6.css file
   * for the necessary IE5/IE6quirks hack to center a div.
   */
  margin-left: auto;
  margin-right: auto;
  max-width: 719px;
}

#page-inner {
  background: transparent url(../images/mobile-background.jpg) no-repeat;
}


/*
 * Pre-header login block 
 */
#login-dropdown-pirate {
  display:none;
}



/*
 * Header
 */
#header {
  width:100%;
  text-align:center;
  margin:0 auto;
  padding-top: 5px;
}

#header #logo{
  float:none;
}

#logo img {
  max-width: 80%;
}

#site-slogan {
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0 30px;
}

#header .section {
}

#search-box {
}

.region-header {
  clear: both; /* Clear the logo */
}

#pirateship{
  display:none;
}
/*
 * Main (container for everything else)
 */
#main-wrapper {
  position: relative;
  margin-top: -25px;
}

#main {
}

#main h1{
  background: #49525c;
  color: white;
  text-align: center;
}

/*
 * Content
 */
#content,
.no-sidebars #content {
 /* background-color:#f4f4f3; */
  float: none; /* only one column. */
  margin-left: 0; /* only one column. */
  margin-right: 0; /* only one column. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #content .section. */
}

.sidebar-first #content {
  margin-left: 0; /* only one column. */
  margin-right: 0; /* only one column. */
}

#content .section {
  margin: 0;
  padding: 0;
}

/* hide anchor for mobile */
.anchor{
  display:none;
}

.node .content {
  margin: 0 20px;
}

#content-area {
 margin: 0 30px;
}


/*
 * Navigation
 */

#navigation {
  float: none; /* LTR */
  max-width: 719px;
  margin-left: 0; /* only one column. */
  margin-right: 0; /* only one column. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #navigation .section. */
  height: auto; 
}

.with-navigation #content,
.with-navigation .region-sidebar-first {
  margin-top: 0; /* Not needed since nav is below content. */
}

#navigation .section {
}

/* Hiding Large Menu on mobile */
#block-dynamic_persistent_menu-0 {
display:none;
}


/*
 * Primary Menu
 */
#top-navigation{
  margin:50px 30px 0;
}

#top-navigation{
}

#block-menu-primary-links{
  background: url('../images/mobile-nav-left.png') top left no-repeat;
}

.region-top-navigation{
  background: url('../images/mobile-nav-right.png') top right no-repeat;

}

#block-menu-primary-links .content {
  margin: 0 30px;
}

#block-menu-primary-links h2 {
    background: url('../images/menu-bg-red.png') repeat;
    height: 34px;
    padding: 0 25px;
    text-indent: -99999px;
}

#block-menu-primary-links ul{
  background:#ffffff;
  border:solid 1px #b2b2b2;
  -webkit-border-bottom-right-radius: 12px;
  -webkit-border-bottom-left-radius: 12px;
  -moz-border-radius-bottomright: 12px;
  -moz-border-radius-bottomleft: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

#block-menu-primary-links ul {
  margin:0;
  padding:0 33px;

}
#block-menu-primary-links ul a {
  display: block;
  text-align: center;
}

#block-menu-primary-links ul > li {
  list-style-type: none;
  list-style-image: none;
}

#block-menu-primary-links ul li {
  border-bottom: solid 1px #c8c8c8;
  position: relative;
}
#block-menu-primary-links ul li.last {
  border-bottom: none;
}

#block-menu-primary-links ul li.leaf.last{
  border:none;
}
#block-menu-primary-links ul a {
  font-family: superclarendon;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration:none;
  color:#853809;
  letter-spacing: 0;
  line-height: 36px;
  background-image: none;
}

#block-menu-primary-links ul a.expand-arrow {
  position: absolute;
  display: inline;
  padding: 0 10px;
  margin: 0;
  top: 0;
  right: 0;
  border: 0;
  text-transform: lowercase;
  font-size: 90%;
  letter-spacing: 0;
}

#block-menu-primary-links ul li ul a {
  text-transform: none;
  color:#565656;
  letter-spacing: 0;
  font-family: georgia;
  font-size:15px;
  line-height:29px;
  padding-right: 0;
}

#block-menu-primary-links ul li ul {
  background: url("../images/mobile-menu-bg-grey.png") #e8e8e8;
  border: solid 1px #d6d6d6;
  border-radius:0;
}



/*
 * First sidebar
 */
.region-sidebar-first {
  float: none; /* only one column. */
  max-width: 719px;
  margin-left: 0; /* only one column. */
  margin-right: 0; /* only one column. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to .region-sidebar-first .section. */
}

.region-sidebar-first .section {
  margin: 0; /* only one column. */
  padding: 0;
}

.mobile .region-sidebar-first p{
  text-align: center;
}

.mobile #block-block-7,
.mobile #block-block-4,
.mobile #block-block-6{
  border-bottom: solid 1px #d6d6d6;
  margin: 0 50px;
}
.mobile #block-block-7 {
  margin-top: 30px;
}

.mobile #block-block-2{
  margin-bottom: 40px;
}

.mobile .region-sidebar-first h2.title {
font-family: Helvetica,Arial,"Nimbus Sans L",sans-serif;
  font-weight: bold;
  line-height: 23px;
  padding: 5px 0;
  letter-spacing: 0.1em;
  text-decoration: none;
  text-transform: uppercase;
  color: #447B97;
  font-size:15px;
  text-align:center;
}

.mobile #block-on_the_web-web{
  margin: 50px 0 -12px;
  text-align: center;
  z-index: -1;
}

.mobile #block-on_the_web-web h2{
  display:none;
}

/*
 * Bottom Menu
 */

#block-badcamp-blimp{
  display:none;
}

.mobile #block-block-2 .content {
  text-align:center;
  background: url("../images/bg-block.png") repeat scroll center top transparent;
  box-shadow: 0 0 65px -25px #000000 inset, 0 0 6px -1px #000000;
  color: #FFFFFF;
  margin:0 0 10px 0;
  padding: 20px;
}

.mobile #block-block-2 .content a {
  color: #ffffff;
  text-transform: uppercase;
  line-height: 22px;
}

.mobile #block-block-2 h2.title {
  color: #dcb685;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.mobile #block-block-2 h4{
  border-top: 1px solid #32383f;
  color: #DCB685;
  font-family: nimbus-sans-condensed;
  font-size: 20px;
  letter-spacing: 1px;
  margin: 8px 0;
  padding-top: 7px;
  text-transform: uppercase;
}


/*
 * Footer
 */
#footer {
  background: transparent url('../images/wood.jpg') 0 0 repeat-x;
  position: relative;
  z-index: 10;
}

#footer .section {
  background: transparent url('../images/parrot.png') 920px 20px no-repeat;
  padding: 30px;
}

#footer .section #footer-message {
  color: #fff;
  letter-spacing: 2px;
  text-align: center;
}

#footer .section a {
  color: #fff;
}


/*
 * Closure
 */
.region-page-closure /* See also the #page-wrapper declaration above that this div shares. */ {
}

/*
 * Prevent overflowing content
 */
#header,
#content,
#navigation,
.region-sidebar-first,
#footer,
.region-page-closure {
  overflow: visible;
  word-wrap: break-word; /* A very nice CSS3 property */
}

#navigation {
  overflow: hidden; /* May need to be removed if using a dynamic drop-down menu */
}

/*
 * If a div.clearfix doesn't have any content after it and its bottom edge
 * touches the bottom of the viewport, Firefox and Safari will mistakenly
 * place several pixels worth of space between the bottom of the div and the
 * bottom of the viewport. Uncomment this CSS property to fix this.
 * Note: with some over-large content, this property might cause scrollbars
 * to appear on the #page-wrapper div.
 */
/*
#page-wrapper {
  overflow-y: hidden;
}
*/

/*
 * Home page.
 */
/* Hide the slideshow on the s viewport */
body.front .pane-slideshow-panel-pane-1 {
  display: none;
}

/* new markers */
.view-events #node-521,
.view-events #node-497,
.view-events #node-493,
.view-events #node-496,
.view-events #node-498 {
  background: transparent url('../images/new.png') top center no-repeat;
  margin-top: -8px;
  padding-top: 16px;
}

.view-events .views-row .views-cell {
  width: 100%;
  border-top: 1px solid #bababa;
}

.mobile.front .product-body{
  text-align:center;
  margin-bottom: 30px;
}

.mobile.front .views-view-grid.col-3 .product-body{
    text-align:left;
}

.mobile .views-view-grid.col-3 .views-row .views-cell {
  float: left;
  width: 100%;
}

.mobile .view-badcamp-sponsors .views-view-grid.col-3 .views-row .views-cell{
width:33%;  
}

body.mobile.front #content{
  background:#ffffff;
}

.top-nav-wrapper{
  background-color:#F4F4F3;
}


/**
 * Attendees page
 */
.views-field-name {
  font-style:italic;
  font-size:12px;
}
.views-field-value-3 {
  font-size:12px;
}

.view-attendees .views-row .views-cell img{
  width:90%;
  height:auto;
}

/**
 * Sponsor page
 */


.page-sponsors .view-badcamp-sponsors .views-field-field-logo-fid img{
	width:90%;
	height:auto;
}

.page-sponsors .region-content-bottom{
	margin: 0 30px;
	background:#ffffff;
}

.page-sponsors #content-area{
	background:#ffffff;
}

.view-badcamp-sponsors .view-header h3 {
  border-bottom: 1px solid #bababa;
}

.view-badcamp-sponsors .views-row .views-cell .views-field-title a {
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: #BABABA;
  font-weight: bold;
  font-family: Helvetica, Arial, "Nimbus Sans L", sans-serif;
  text-decoration: none;
  font-size: 12px;
  line-height:18px;
  margin:10px 0 0;
}


/**
 * Session Page


.view-badcamp-sessions .views-field-title a{
	 font-family: "Nimbus Sans L",sans-serif;
    font-weight: bold;
    line-height: 23px;
    padding: 5px 0;
  letter-spacing: 0.1em;
    text-decoration: none;
    text-transform: uppercase;
}
.view-badcamp-sessions .views-field-title p{
font-size: 14px;
    line-height: 23px;
}

.view-badcamp-sessions .views-field-field-track-value{
		 font-family: "Nimbus Sans L",sans-serif;
    font-weight: bold;
    line-height: 23px;
    padding: 5px 0;
  letter-spacing: 0.1em;
    text-decoration: none;
    text-transform: uppercase;
  color: #DCB685;
}

 */
 
/* vote buttons */
.view-badcamp-sessions .views-field-ops .flag-wrapper {
  display: block;
  width: 115px;
}
.view-badcamp-sessions a.flag {
  background-color: #525A65;
  border: 1px solid #3F3F3F;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0 0 6px -3px #FFFFFF inset;
  color: #F2F2F2;
  margin: 0;
  padding: 5px 10px;
  text-transform: uppercase;
  font-size: 11px;
}


/**
 * Session page
 **/

#saturday-schedule, #sunday-schedule {
  line-height:1.29em;
}

#saturday-schedule strong, #sunday-schedule strong {
  letter-spacing: -1px;
}

.views-field-field-experience-value {
  font-style:italic;
  font-size: .9em;
}

.session-calendar td {
  font-family: nimbus-sans-condensed, Helvetica, Arial;
}

.view-cod-schedule h2 {
  font-family: nimbus-sans-extended, Helvetica, Arial;
  font-size: 1.5em;
  font-weight: normal;
}

.session-calendar th {
  font-family: nimbus-sans-condensed, Helvetica, Arial;
  padding:10px;
}

.session-calendar tr.odd {
  background-color: #fff;
}

.view-cod-schedule > .view-content {
  width:100%;
  overflow: auto;
}


.type-session, .type-schedule_item {
  padding: 10px;
}

.type-session {
  width: 170px;
}

.views-field-field-experience-value div {
  display:inline;
  padding-right: .25em;
}