/**
 * @file
 *
 * This layout is for phones.
 */


/*
 * Body
 */
body {
  background-color: #f0ebe8; 
}

#page-wrapper,
.region-page-closure {
}

#page {
  /*
   * If you want to make the page a fixed width and centered in the viewport,
   * this is the standards-compliant way to do that. See also the ie6.css file
   * for the necessary IE5/IE6quirks hack to center a div.
   */
  margin-left: auto;
  margin-right: auto;
  max-width: 719px;
}

#page-inner {
  background: transparent url(../images/mobile-background.jpg) no-repeat;
}


/*
 * Pre-header login block 
 */
#login-dropdown-pirate {
  display:none;
}



/*
 * Header
 */
#header {
  width:100%;
  text-align:center;
  margin:0 auto;
  padding-top: 5px;
}

#header #logo{
  float:none;
}

#logo img {
  max-width: 80%;
}

#header .section {
}

#search-box {
}

.region-header {
  clear: both; /* Clear the logo */
}

#pirateship{
	display:none;
}
/*
 * Main (container for everything else)
 */
#main-wrapper {
  position: relative;
  margin-top: -25px;
}

#main {
}

#main h1{
  background: #49525c;
  color: white;
  text-align: center;
}

/*
 * Content
 */
#content,
.no-sidebars #content {
  float: none; /* only one column. */
  margin-left: 0; /* only one column. */
  margin-right: 0; /* only one column. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #content .section. */
}

.sidebar-first #content {
  margin-left: 0; /* only one column. */
  margin-right: 0; /* only one column. */
}

#content .section {
  margin: 0;
  padding: 0;
}

/* hide anchor for mobile */
.anchor{
	display:none;
}

.node .content {
  margin: 0 20px;
}

/*
 * Navigation
 */
#navigation {
  float: none; /* LTR */
  max-width: 719px;
  margin-left: 0; /* only one column. */
  margin-right: 0; /* only one column. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #navigation .section. */
  height: auto; 
}

.with-navigation #content,
.with-navigation .region-sidebar-first {
  margin-top: 0; /* Not needed since nav is below content. */
}

#navigation .section {
}

#navigation ul /* Primary and secondary links */ {
  margin: 0;
  padding: 0;
  text-align: left; /* LTR */
}

#navigation li /* A simple method to get navigation links to appear in one line. */ {
  float: left; /* LTR */
  padding: 0 10px 0 0; /* LTR */
}

/* Hiding Large Menu on mobile */
#block-nice_menus-1{
	display:none;
}


/*
 * Primary Menu
 */
#top-navigation{
		background: url("../images/mobile-nav-left.png") no-repeat scroll;
}

#top-navigation .section{
		background: url("../images/mobile-nav-right.png") no-repeat scroll top right;
}

#block-menu-primary-links .content{
	margin: 0 30px;
}

#top-navigation h2 {
  display:none;
}

.region-top-navigation{
	margin: 30px;
	background: url("../images/menu-bg-red.png") repeat-x scroll center top;
  padding-top: 33px;
}

#block-menu-primary-links{
	background:#ffffff;
	border:solid 1px #b2b2b2;
	  -webkit-border-bottom-right-radius: 12px;
  -webkit-border-bottom-left-radius: 12px;
  -moz-border-radius-bottomright: 12px;
	-moz-border-radius-bottomleft: 12px;
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
}

#block-menu-primary-links ul{
	margin:0;
	padding:0;

}
#block-menu-primary-links ul a {
  display: block;
  text-align: center;
}

#block-menu-primary-links ul > li {
  list-style-type: none;
  list-style-image: none;
}

#block-menu-primary-links ul li{
	border-bottom: solid 1px #c8c8c8;
}

#block-menu-primary-links ul li.leaf.last{
	border:none;
}
#block-menu-primary-links ul a {
  font-family: superclarendon;
  font-weight: normal;
  text-transform: uppercase;
	text-decoration:none;
  color:#853809;
	letter-spacing: 2px;
	line-height:36px;
}

#block-menu-primary-links ul li ul a{
  text-transform: none;
  color:#565656;
	letter-spacing: 0;
	font-family: georgia;
	font-size:15px;
	line-height:29px;
}

#block-menu-primary-links ul li ul{
	background: url("../images/mobile-menu-bg-grey.png") #e8e8e8;
	border: solid 1 px #d6d6d6;
}



/*
 * First sidebar
 */
.region-sidebar-first {
  float: none; /* only one column. */
  max-width: 719px;
  margin-left: 0; /* only one column. */
  margin-right: 0; /* only one column. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to .region-sidebar-first .section. */
}

.region-sidebar-first .section {
  margin: 0; /* only one column. */
  padding: 0;
}

/*
 * Footer
 */
#footer {
}

#footer .section {
}

/*
 * Closure
 */
.region-page-closure /* See also the #page-wrapper declaration above that this div shares. */ {
}

/*
 * Prevent overflowing content
 */
#header,
#content,
#navigation,
.region-sidebar-first,
#footer,
.region-page-closure {
  overflow: visible;
  word-wrap: break-word; /* A very nice CSS3 property */
}

#navigation {
  overflow: hidden; /* May need to be removed if using a dynamic drop-down menu */
}

/*
 * If a div.clearfix doesn't have any content after it and its bottom edge
 * touches the bottom of the viewport, Firefox and Safari will mistakenly
 * place several pixels worth of space between the bottom of the div and the
 * bottom of the viewport. Uncomment this CSS property to fix this.
 * Note: with some over-large content, this property might cause scrollbars
 * to appear on the #page-wrapper div.
 */
/*
#page-wrapper {
  overflow-y: hidden;
}
*/
