/**
 * @file
 *
 * This layout is for Desktops.
 */

/**
 * @file
 * Layout Styling (DIV Positioning)
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout is based on the Zen Columns layout method.
 *   http://drupal.org/node/201428
 *
 * Only CSS that affects the layout (positioning) of major elements should be
 * listed here.  Such as:
 *   display, position, float, clear, width, height, min-width, min-height
 *   margin, border, padding, overflow
 */


/*
 * Body
 */
body {
  background: #f6f1ef url('../images/background.png') center -280px no-repeat;
}

#page-wrapper {
}

#page-wrapper,
.region-page-closure {
  min-width: 876px; /* Don't allow the browser to make the site unreadable. */
  
  margin-left: auto;
  margin-right: auto;
  min-width: 876px;
  max-width: 1100px;
  width: auto;
}

#page {
}

#page-inner {
  background: transparent none;
}

#pirateship{
	display:inline-block;
}

/*
 * Header
 */
#header {
  width:100%;
  text-align:center;
  margin:0 auto;
}

#header .section {
  height: 250px;
  position: relative;
  padding: 10px 60px 0 60px;
}

#logo {
  display: block;
  float: left;
  width: 457px;
  margin-left: 0;
  margin-right: -457px;
}

#logo img {
  max-width: 100%;
}

#name-and-slogan {
  float: left;
  width: 360px;
  margin-left: 460px;
  margin-right: -820px;
}
#site-slogan {
  background: transparent url('../images/tagline-head.png') top center no-repeat;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 30px;
  margin: 10px;
}
#site-slogan .camp-location {
  color: #4f7c8e;
}

/* #pirateship {
  position: absolute;
  right: 60px;
  bottom: 15px;
  width: 200px;
  height: 215px;
  background: transparent url('../images/pirate-ship.png') bottom center no-repeat;
} */


.region-header {
  clear: both; /* Clear the logo */
}

 /*
 * Main (container for everything else)
 */
#main-wrapper {
  position: relative;
  margin-top: 0px;

}

#main {
}

#main h1 {
  background-color: transparent;
  color: #447b97;
  text-align: center;
}

/*
 * Content
 */
#content {
  float: left; /* LTR */
  width: 100% !important;
  margin-left: 0; /* LTR */
  margin-right: -100%; /* LTR */ /* Negative value of #content's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #content .section. */
}

#content .section,
.no-sidebars #content .section {
  margin: 0;
}

#content .section .section-inner {
  margin: 0 60px;
  background-color: #ffffff;
  padding: 10px 20px;
}

.sidebar-first #content .section {
  padding-left: 0; /* LTR */
  padding-right: 280px; /* LTR */ /* The width + right margin of .region-sidebar-second. */
}


/*
 * Make room for nav
 */
#content .section h1.title {
  margin-bottom: 95px;
}


/*
 * Navigation
 */
#navigation {
  background: transparent url('../images/nav-left.png') top left no-repeat;

  float: left; /* LTR */
  width: 100%;
  margin-left: 0; /* LTR */
  margin-right: -100%; /* LTR */ /* Negative value of #navigation's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #navigation .section. */
  
  position: absolute;
  top: 70px;
  left: 20px; /* LTR */
  /*width: 780px;*/
  width: 100%;
  overflow: visible;
  max-width: 780px;
  
  height: 62px; /* The navigation can have any arbritrary height. We picked one
                    that is the line-height plus 1em: 1.3 + 1 = 2.3
                    Set this to the same value as the margin-top below. */
}

.with-navigation #content,
.with-navigation .region-sidebar-first {
  margin-top: 0; /* Set this to the same value as the navigation height above. */
}

#navigation .section {
  height: 62px;
  background: transparent url('../images/nav-right.png') top right no-repeat;
  padding: 0 25px;
}
#navigation .section .region-navigation {
  height: 20px; /* 55 - 15 - 15 */
  background-color: #8f3c0a;
  padding: 15px;
  width: 100%;
  min-width: 690px;
  margin-left: 35px;
}

#navigation .section .block {
  margin: 0;
}

#navigation ul /* Primary and secondary links */ {
  margin: 0;
  padding: 0;
  text-align: left; /* LTR */
}

#navigation li /* A simple method to get navigation links to appear in one line. */ {
  float: left; /* LTR */
  padding: 0 10px 0 0; /* LTR */
}

/* Remove overflow constraints from the #navigation div*/
#navigation {
  width:100%;
  overflow: visible;
}
/* Show  the large menu */
#navigation #block-nice_menus-1 {
  display: block;
}
#navigation #block-menu-primary-links,
#navigation .title {
  display: none;
}

/*
 * First sidebar
 */
.region-sidebar-first {
  float: right; /* LTR */
  width: 280px;
  margin-left: -280px; /* LTR */ /* Negative value of .region-sidebar-first's width + right margin. */
  margin-right: 0; /* LTR */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to .region-sidebar-first .section. */
}

.region-sidebar-first .section {
  margin: 0 10px 0 10px; /* LTR */
  padding: 0 10px 0 0;
}

/*
 * Footer
 */
#footer {
  background: transparent url('../images/wood.jpg') 0 100px repeat-x;
  height: 200px;
}

#footer .section {
  background: transparent url('../images/parrot.png') 920px 20px no-repeat;
  padding: 30px;
  height: 140px;
}

#footer .section #footer-message {
  color: #fff;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 105px;
}

#footer .section a {
  color: #fff;
}


/*
 * Closure
 */
.region-page-closure /* See also the #page-wrapper declaration above that this div shares. */ {
}

/*
 * Prevent overflowing content
 */
#header,
#content,
#navigation,
.region-sidebar-first,
#footer,
.region-page-closure {
  overflow: visible;
  word-wrap: break-word; /* A very nice CSS3 property */
}

#navigation {
  overflow: hidden; /* May need to be removed if using a dynamic drop-down menu */
}





/*
 * Blocks in the sidebar.
 */
.region-sidebar-first .section .block {
  background: transparent url('../images/ropes.png') top center repeat-y;
  padding-bottom: 10px;
  margin: 0;
}
.region-sidebar-first .section .block .content {
  background: transparent url('../images/bg-block.png') top center repeat-y;
  -moz-box-shadow:    inset 0 0 65px -25px #000000, 0 0 6px -1px #000000;
  -webkit-box-shadow: inset 0 0 65px -25px #000000, 0 0 6px -1px #000000;
  box-shadow:         inset 0 0 65px -25px #000000, 0 0 6px -1px #000000;
  color: #ffffff;
  padding: 20px;
  margin-bottom: 10px;
  text-align: center;
}
.region-sidebar-first .section .block .content a {
  color: #dcb685;
}
.region-sidebar-first .section .block h2.title {
  color: #dcb685;
  text-transform: uppercase;
  border-bottom: 1px solid #ffffff;
  padding: 0 10px 10px 10px;
  margin-bottom: 20px;
}

#block-badcamp-blimp {
  background: transparent url('../images/ropes.png') bottom center no-repeat;
}
#block-badcamp-blimp .content {
  background: transparent url('../images/attending.png') top center no-repeat;
  -webkit-box-shadow: 0 8px 6px -8px black;
  -moz-box-shadow:    0 8px 6px -8px black;
  box-shadow:         0 8px 6px -8px black;
  text-align: center;
  padding-bottom: 10px;
  margin: 0 -6px 10px -6px;
}
#block-badcamp-blimp .content .badcamp-attendee-count {
  margin: 23px;
  font-size: 35px;
}
#block-badcamp-blimp .content .badcamp-attending {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  color: #c1c1c1;
}
#block-on_the_web-web {
  background-image: none;
}
#block-on_the_web-web .content {
  background: transparent url('../images/anchor.png') bottom center no-repeat;
  -webkit-box-shadow: 0 -8px 6px -8px black;
  -moz-box-shadow:    0 -8px 6px -8px black;
  box-shadow:         0 -8px 6px -8px black;
  margin: 0 -8px;
  height: 150px;
}

/* Display */
/* Show the slideshow on min876 and up */
body.front .view-id-slideshow {
  display: block;
}

/* Line up the events on the homepage */
#block-views-events-block_1 {
}
#block-views-events-block_1 .views-view-grid {
}
#block-views-events-block_1 .views-row {
  clear: left;
  height: 230px;
  border-top: 1px solid #bababa;
}
#block-views-events-block_1 .views-row .views-cell {
  width: 33%;
  float: left;
}
#block-views-events-block_1 .views-row .views-cell .node {
  padding: 0 10px 15px 10px;
}
#block-views-events-block_1 .views-row .col-first .node {
  padding: 0 20px 0 0;
}
#block-views-events-block_1 .views-row .col-last .node {
  padding: 0 0 0 20px;
}
#block-views-events-block_1 .node h2.title {
  margin-bottom: 10px;
}
#block-views-events-block_1 .node h2.title a {
  display: block;
  color: #447b97;
  font-weight: bold;
  font-family: Helvetica, Arial, "Nimbus Sans L", sans-serif;
  text-align: center;
  line-height: 23px;
  border-bottom: 1px solid #bababa;
  padding: 5px;
}
#block-views-events-block_1 .node .content {
  margin: 0;
  height: 140px;
  font-size: 12px;
  line-height: 23px;
  overflow: hidden;
  text-align: justify;
}
#block-views-events-block_1 .node .content p {
  margin-top: 0;
}
#block-views-events-block_1 .node ul.links {
  text-align: center;
}
#block-views-events-block_1 .node ul.links li a {
  display: block;
  text-transform: uppercase;
  color: #525252;
  font-weight: bold;
  font-family: Helvetica, Arial, "Nimbus Sans L", sans-serif;
  text-decoration: none;
}
#block-views-events-block_1 .node ul.links li a:before {
  content: '- ';
}
#block-views-events-block_1 .node ul.links li a:after {
  content: ' -';
}