/**
 * @file
 *
 * This layout is for tablets.
 */


/*
 * Body
 */
body {
  
}

#page-wrapper,
.region-page-closure {

}

#page {
  /*
   * If you want to make the page a fixed width and centered in the viewport,
   * this is the standards-compliant way to do that. See also the ie6.css file
   * for the necessary IE5/IE6quirks hack to center a div.
   */margin-left: auto;
   margin-right: auto;
   max-width: 875px;
}

#page-inner {
  background: transparent url(../images/mobile-background.jpg) no-repeat;
}

/*
 * Header
 */
#header {
}

#header .section {
}

#header #logo{
	float:left;
}

#search-box {
}

.region-header {
  clear: both; /* Clear the logo */
}

#pirateship{
	display:none;
}

/*
 * Main (container for everything else)
 */
#main-wrapper {
  position: relative;
  margin-top: 0px;

}

#main {
}

/*
 * Content
 */
#content,
.no-sidebars #content {
  float: none; /* LTR */
  margin-left: 0;
  margin-right: 0;
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #content .section. */
}
#content {
  padding-top: 10px;
}

#content .section .section-inner {
  margin: 0 3em;
  padding: 0;
  background-color: #fff;
}

#content .section {
  margin: 0;
  padding: 0;
}

.anchor{
	display:inline;
}

/*
 * Navigation
 */

/* Hide the mobile navigation region*/
#top_navigation{
	display:none;
}

#navigation #block-nice_menus-1,
#navigation #block-menu-primary-links h2.title {
  display: none;
}

#navigation {
  float: none;
  max-width: 875px;
  margin-left: 0; 
  margin-right: 0;
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #navigation .section. */
  height: auto;
}

.with-navigation #content,
.with-navigation .region-sidebar-first {
  margin-top: 0; /* Not needed since nav is below content. */
}

#navigation .section {
}

#navigation ul /* Primary and secondary links */ {
  margin: 0;
  padding: 0;
  text-align: left; /* LTR */
}

#navigation li /* A simple method to get navigation links to appear in one line. */ {
  float: left; /* LTR */
  padding: 0 10px 0 0; /* LTR */
}

#top-navigation { /* hide the mobile menu on big desktops */
  display: none;
}


/*
 * First sidebar
 */
.region-sidebar-first {
  float: none;
  max-width: 875px;
  margin-left: 0;
  margin-right: 0;
  padding: 0; /* DO NOT CHANGE. Add padding or margin to .region-sidebar-first .section. */
}

.region-sidebar-first .section {
  padding: 30px;
  margin: 0 3em;
  background-color: #fff;
}

/*
 * Footer
 */
#footer {
}

#footer .section {
  padding: 30px;
  margin: 0 3em;
}

#footer-message {
  text-align: center;
}

/*
 * Closure
 */
.region-page-closure /* See also the #page-wrapper declaration above that this div shares. */ {
}

/*
 * Prevent overflowing content
 */
#header,
#content,
#navigation,
.region-sidebar-first,
#footer,
.region-page-closure {
  overflow: visible;
  word-wrap: break-word; /* A very nice CSS3 property */
}

#navigation {
  overflow: hidden; /* May need to be removed if using a dynamic drop-down menu */
}

/*
 * If a div.clearfix doesn't have any content after it and its bottom edge
 * touches the bottom of the viewport, Firefox and Safari will mistakenly
 * place several pixels worth of space between the bottom of the div and the
 * bottom of the viewport. Uncomment this CSS property to fix this.
 * Note: with some over-large content, this property might cause scrollbars
 * to appear on the #page-wrapper div.
 */
/*
#page-wrapper {
  overflow-y: hidden;
}
*/

/* Special Pages */
/* Hide the slideshow on the min720*/
body.front .view-id-slideshow {
  display: none;
}
/* Line up the events on the homepage */
#block-views-events-block_1 .views-row {
  width: 100%;
}

/**
 * Home page.
 */
 
#content-area {
  padding: 0 30px;
}

.pane-slideshow-panel-pane-1,
.pane-slideshow-panel-pane-1 .view-content,
.pane-slideshow-panel-pane-1 .view-footer {
  display: none;
}

.view-front {
  background: url("../images/divide.png") no-repeat scroll center top transparent;
  padding-top: 15px;
}
.view-front .views-row {
  padding: 0 20px;
}

.view-front .views-row p {
  font-size: 14px;
  line-height: 23px;
}

.view-events {
  padding-top: 15px;
}
.view-events .views-row {
  clear: left;
  height: 230px;
  border-top: 1px solid #bababa;
  padding-top: 10px;
}
.view-events .views-row .views-cell .node {
  padding: 0 10px 15px 10px;
}
.view-events .views-row .col-first .node {
  padding: 0 20px 0 0;
}
.view-events .views-row .col-last .node {
  padding: 0 0 0 20px;
}
.view-events .node h2.title {
  margin-bottom: 10px;
}
.view-events .node h2.title a {
  text-align: center;
  border-bottom: 1px solid #bababa;
}
.view-events .node .content {
  margin: 0;
  height: 140px;
  font-size: 12px;
  line-height: 23px;
  overflow: hidden;
  text-align: justify;
}
.view-events .node .content p {
  margin-top: 0;
}
.view-events .node ul.links {
  text-align: center;
}
.view-events .node ul.links li a {
  display: block;
}
.view-events .node ul.links li a:before {
  content: '- ';
}
.view-events .node ul.links li a:after {
  content: ' -';
}
/* new markers */
.view-events #node-521,
.view-events #node-497,
.view-events #node-493,
.view-events #node-496,
.view-events #node-498 {
  background: transparent url('../images/new.png') top center no-repeat;
  margin-top: -16px;
  padding-top: 16px;
}

.pane-badcamp-sponsors-panel-pane-1 .view-badcamp-sponsors .views-row .views-cell {
  height: 100px;
}