/**
 * @file
 *
 * This layout is for Desktops.
 */


/*
 * Body
 */
body {
  
}

#page-wrapper,
.region-page-closure {
  /*
   * If you want to make the page a fixed width and centered in the viewport,
   * this is the standards-compliant way to do that. See also the ie6.css file
   * for the necessary IE5/IE6quirks hack to center a div.
   */
  margin-left: auto;
  margin-right: auto;
  min-width: 1100px;
  width: 1100px;
  
  background: #f6f1ef url(../images/background.jpg) top center no-repeat;
}

#page {
  
}

/*
 * Header
 */
#header {
}

#header .section {
  height: 235px;
  position: relative;
  padding: 10px 60px 0 60px;
}

#logo {
  display: block;
  float: left;
  width: 457px;
  margin-left: 0;
  margin-right: -457px;
}
#name-and-slogan {
  float: left;
  width: 360px;
  margin-left: 460px;
  margin-right: -820px;
}
#site-slogan {
  background: transparent url('../images/tagline-head.png') top center no-repeat;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 30px;
  margin: 10px;
}
#site-slogan .camp-location {
  color: #4f7c8e;
}
#pirateship {
  position: absolute;
  right: 60px;
  bottom: 15px;
  width: 200px;
  height: 215px;
  background: transparent url('../images/pirate-ship.png') bottom center no-repeat;
}

.region-header {
  clear: both; /* Clear the logo */
}

/*
 * Main (container for everything else)
 */
#main-wrapper {
  position: relative;
}

#main {
}

#main h1 {
  background-color: transparent;
  color: #447b97;
}

/*
 * Content
 */
#content,
.no-sidebars #content {
  float: left; /* LTR */
  width: 1090px !important;
  margin-left: 10px; /* LTR */
  margin-right: -1100px; /* LTR */ /* Negative value of #content's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #content .section. */
}

.sidebar-first #content {
  width: 800px;
  max-width: 800px;
  margin-left: 10px; /* LTR */ /* The width of .region-sidebar-first. */
  margin-right: -810px; /* LTR */ /* Negative value of #content's width + left margin. */
}

#content .section {
  margin: 0 50px;
  padding: 25px;
  background-color: #ffffff;
}

/*
 * Make room for nav
 */
#content .section h1.title {
  margin-bottom: 50px;
}

.node .meta {
  border-bottom: 1px solid #bababa;
  padding: 10px 0;
}

#comments {
  background: transparent url('../images/divide.png') top center no-repeat;
  padding-top: 15px;
}
#comments h2.title {
 color: #447b97;
 border-bottom: 1px solid #bababa;
}
#comments .comment {
  border-bottom: 1px solid #bababa;
}
#comments .comment .picture {
  float: left;
  width: 85px;
  height: 85px;
  overflow: hidden;
  margin: 10px 0;
}
#comments .comment .submitted {
  float: left;
  margin: 20px 15px;
  padding: 15px 0;
}
#comments .comment .submitted .new {
  position: relative;
  top: -5px;
  right: -5px;
}
#comments .comment .content {
  clear: left;
  border-top: 1px solid #bababa;
  padding-top: 10px;
}
#comments .indented {
  background: transparent url('../images/reply.png') top left no-repeat;
  margin-left: 0;
  padding-left: 50px;
}

/*
 * Navigation
 */
#navigation {
  float: left; /* LTR */
  width: 780px;
  margin-top: 70px;
  margin-left: 20px; /* LTR */
  margin-right: -100%; /* LTR */ /* Negative value of #navigation's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #navigation .section. */
  height: 62px;
  background: transparent url('../images/nav-left.png') top left no-repeat;
}

.with-navigation #content,
.with-navigation .region-sidebar-first,
.with-navigation .region-sidebar-second {
  margin-top: 0; /* Since nav is not above content, not needed. */
}

#navigation .section {
  height: 62px;
  background: transparent url('../images/nav-right.png') top right no-repeat;
  padding: 0 25px;
}

#navigation .section .region-navigation {
  height: 20px; /* 55 - 15 - 15 */
  background-color: #8f3c0a;
  padding: 15px;
}

#navigation .section .block {
  margin: 0;
}

/*
#navigation ul {
  margin: 0;
  padding: 0;
  text-align: left; 
}

#navigation li  {
  float: left; 
  padding: 0 10px 0 0; 
} */

/*
 * First sidebar
 */
.region-sidebar-first {
  float: left; /* LTR */
  width: 270px;
  margin-left: 815px; /* LTR */
  margin-right: -1085px; /* LTR */ /* Negative value of .region-sidebar-first's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to .region-sidebar-first .section. */
}
.region-sidebar-first .section {
  margin: 0 10px 0 10px; /* LTR */
  padding: 0;
}
.region-sidebar-first .section .block {
  background: transparent url('../images/ropes.png') top center repeat-y;
  padding-bottom: 10px;
  margin: 0;
}
.region-sidebar-first .section .block .content {
  background: transparent url('../images/bg-block.png') top center repeat-y;
  -moz-box-shadow:    inset 0 0 65px -25px #000000, 0 0 6px -1px #000000;
  -webkit-box-shadow: inset 0 0 65px -25px #000000, 0 0 6px -1px #000000;
  box-shadow:         inset 0 0 65px -25px #000000, 0 0 6px -1px #000000;
  color: #ffffff;
  padding: 20px;
  margin-bottom: 10px;
  text-align: center;
}
.region-sidebar-first .section .block .content a {
  color: #dcb685;
}
.region-sidebar-first .section .block h2.title {
  color: #dcb685;
  text-transform: uppercase;
  border-bottom: 1px solid #ffffff;
  padding: 0 10px 10px 10px;
  margin-bottom: 20px;
}

#block-badcamp-blimp {
  background: transparent url('../images/ropes.png') bottom center no-repeat;
}
#block-badcamp-blimp .content {
  background: transparent url('../images/attending.png') top center no-repeat;
  -webkit-box-shadow: 0 8px 6px -8px black;
  -moz-box-shadow:    0 8px 6px -8px black;
  box-shadow:         0 8px 6px -8px black;
  text-align: center;
  padding-bottom: 10px;
  margin: 0 -6px 10px -6px;
}
#block-badcamp-blimp .content .badcamp-attendee-count {
  margin: 23px;
  font-size: 35px;
}
#block-badcamp-blimp .content .badcamp-attending {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  color: #c1c1c1;
}
#block-on_the_web-web {
  background-image: none;
}
#block-on_the_web-web .content {
  background: transparent url('../images/anchor.png') bottom center no-repeat;
  -webkit-box-shadow: 0 -8px 6px -8px black;
  -moz-box-shadow:    0 -8px 6px -8px black;
  box-shadow:         0 -8px 6px -8px black;
  margin: 0 -8px;
  height: 150px;
}

/*
 * Footer
 */
#footer {
  background: transparent url('../images/wood.jpg') 0 100px repeat-x;
  height: 200px;
}

#footer .section {
  background: transparent url('../images/parrot.png') 920px 20px no-repeat;
  padding: 30px;
  height: 140px;
}
#footer .section #footer-message {
  color: #fff;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 105px;
}

#footer .section a {
  color: #fff;
}

/*
 * Closure
 */
.region-page-closure /* See also the #page-wrapper declaration above that this div shares. */ {
}

/*
 * Prevent overflowing content
 */
#header,
#content,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
#footer,
.region-page-closure {
  overflow: visible;
  word-wrap: break-word; /* A very nice CSS3 property */
}

#navigation {
  /* overflow: hidden; /* May need to be removed if using a dynamic drop-down menu */
}

/*
 * If a div.clearfix doesn't have any content after it and its bottom edge
 * touches the bottom of the viewport, Firefox and Safari will mistakenly
 * place several pixels worth of space between the bottom of the div and the
 * bottom of the viewport. Uncomment this CSS property to fix this.
 * Note: with some over-large content, this property might cause scrollbars
 * to appear on the #page-wrapper div.
 */
/*
#page-wrapper {
  overflow-y: hidden;
}
*/
