/* $Id: nice_menus_default.css,v 1.10 2010/10/09 16:58:04 add1sun Exp $ */
/*
  This is the default layout template for nice menus, and will provide
  a starting point for the look of your menus. To customize, it's
  recommended to create a custom CSS file using this file as a template,
  then configure the module to use your custom CSS file
  (this is done in the global settings tab of the theme administration.)

  See README.txt and the handbook page (http://drupal.org/node/185543)
  for more information on using the CSS.
*/

/******************************
 Global CSS for ALL menu types
******************************/

ul.nice-menu,
ul.nice-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: 0;
  float: none;
}

ul.nice-menu li {
  border: 0;
  border-top: 0;
  float: left; /* LTR */
  background-color: transparent;
}

ul.nice-menu a {
  padding: 0.3em 5px 0.3em 5px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

ul.nice-menu ul {
  top: 55px;
  left: -1px; /* LTR */
  border: 0;
  border-top: 0;
  margin-right: 0; /* LTR */
  background-color: #38180B;
  z-index: 25!important;
  padding: 5px 15px 0 15px;
}

ul.nice-menu ul li {
  width: 15.5em;
  border-bottom: 1px solid #8f3c0a;
}


/******************************
 HORIZONTAL (down) menus
******************************/

ul.nice-menu-down {
  float: left; /* LTR */
  border: 0;
}

ul.nice-menu-down li {
  border-top: 0;
}

ul.nice-menu-down li li {
  border-top: 0;
}

ul.nice-menu-down ul {
  left: 0; /* LTR */
}

ul.nice-menu-down ul li {
  clear: both;
}

ul.nice-menu-down li ul li ul {
  left: 15.5em; /* LTR */
  top: -1px;
}

ul.nice-menu-down .menuparent a {
  padding-right: 15px; /* LTR */
}

ul.nice-menu-down li.menuparent {
  background: transparent url(arrow-down.png) right center no-repeat; /* LTR */
}

ul.nice-menu-down li.menuparent:hover {
  background: transparent url(arrow-down.png) right center no-repeat; /* LTR */
}

ul.nice-menu-down li li.menuparent {
  background: transparent url(arrow-right.png) right center no-repeat; /* LTR */
}

ul.nice-menu-down li li.menuparent:hover {
  background: transparent url(arrow-right.png) right center no-repeat; /* LTR */
}
